.navbarWrapper {
  background-color: rgb(30, 41, 59);
  color: rgb(224 242 254/1) !important;
  font-weight: 550;
  font-size: 16px !important;

  div,
  li,
  a,
  ul {
    background-color: rgb(30, 41, 59);
    color: rgb(224 242 254/1) !important;
    font-weight: 550;
    font-size: 16px !important;
  }
}

.logo {
  opacity: 1;
  color: rgb(139 92 246 / 1);
  background-color: transparent;
  width: 2.2rem;
  cursor: pointer;
}
.logo:hover {
  color: rgb(124 58 237 / 1);
}

.dropdown-toggle::after {
  border: none !important;
  content: "\276E" !important;
  font-size: 15px;
  margin-left: 0.7em !important;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  vertical-align: 0 !important;
}

.navbarBtn {
  border-radius: 0px !important;
  padding: 8px 14px !important;
  background: rgb(139 92 246 / 1) !important;
  opacity: 1;
  color: rgb(15 23 42 / 1) !important;
  font-weight: 600 !important;
}

.navbarBtn:hover {
  background: rgb(124 58 237 / 1) !important;
}
